.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.sidebar{
  margin-top: 2.5rem;
}

#map {
    width: 50rem;
    height: 50rem;
}

.gap-right {
  margin-right: 3rem;
}

.logo{
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
